<div class="container">
    <h4> Internal Server Error - refreshing the page will make the error disappear!!! </h4>

    <ng-container *ngIf="errors">
        <h5 class="text-danger">Error: {{ errors.message }}</h5>
        <p class="font-weight-bold">Note: if you are seeing this, Angular is not to blame!.</p>
        <p>What to do next?</p>
        <ol>
            <li>Open the chrome dev tools</li>
            <li>inspect the network tab</li>
            <li>check the failing request!</li>
            <li>examine the request url - make sure it is correct</li>
            <li>reproduce the error in Postman - if we see the same response then issue is without Angular</li>
        </ol>
        <p>following is the stack trace is where your invastigation should start!</p>
        <code class="mt-5" style="background-color: whitesmoke;">{{ errors.details }}</code>
    </ng-container>
</div>