<ng-container>

    <button (click)="getServerError()" class="btn btn-outline-primary mr-3">Test 500 (Server Error) error </button>
    <button (click)="getNotFoundError()" class="btn btn-outline-primary mr-3">Test 404 (Not-Found) error </button>
    <button (click)="getAuthError()" class="btn btn-outline-primary mr-3">Test 401 (Auth) error </button>
    <button (click)="getBadRequestError()" class="btn btn-outline-primary mr-3">Test 400 (Bad-Request) error </button>
    <button (click)="get400ValidationError()" class="btn btn-outline-primary mr-3">Test 400 Validation error </button>

</ng-container>